## Settings file was created by plugin ServersideQoL.JustSleep v2.0.0
## Plugin GUID: ArgusMagnus.ServersideQoL.JustSleep

[JustSleep]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Minimum number of players in bed to show the sleep prompt to the other players
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 10
MinPlayersInBed = 1

## Percentage of players that must be in bed or sitting to skip the night
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
RequiredPlayerPercentage = 51

## Type of message to show for the sleep prompt
# Setting type: MessageType
# Default value: Center
# Acceptable values: TopLeft, Center
SleepPromptMessageType = Center

