## Settings file was created by plugin ServersideQoL.ContainerSizes v2.0.1
## Plugin GUID: ArgusMagnus.ServersideQoL.ContainerSizes

[ContainerSizes]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Inventory size for 'Cart'.
## If you append '+' to the end (e.g. '6x3+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 6x3
InventorySize_Cart = 6x3

## Inventory size for 'Obliterator'.
## If you append '+' to the end (e.g. '7x3+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 7x3
InventorySize_incinerator = 7x3

## Inventory size for 'Karve'.
## If you append '+' to the end (e.g. '2x2+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 2x2
InventorySize_Karve = 4x2

## Inventory size for 'Reinforced Chest'.
## If you append '+' to the end (e.g. '6x4+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 6x4
InventorySize_piece_chest = 6x5

## Inventory size for 'Barrel'.
## If you append '+' to the end (e.g. '6x2+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 6x2
InventorySize_piece_chest_barrel = 6x2

## Inventory size for 'Black Metal Chest'.
## If you append '+' to the end (e.g. '8x4+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 8x4
InventorySize_piece_chest_blackmetal = 8x6

## Inventory size for 'Grausten Chest'.
## If you append '+' to the end (e.g. '8x5+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 8x5
InventorySize_piece_chest_grausten = 8x5

## Inventory size for 'Personal Chest'.
## If you append '+' to the end (e.g. '3x2+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 3x2
InventorySize_piece_chest_private = 3x2

## Inventory size for 'Wardrobe'.
## If you append '+' to the end (e.g. '5x10+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 5x10
InventorySize_piece_chest_warderobe = 5x10

## Inventory size for 'Chest'.
## If you append '+' to the end (e.g. '5x2+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 5x2
InventorySize_piece_chest_wood = 5x3

## Inventory size for 'Yuleklapp'.
## If you append '+' to the end (e.g. '1x1+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 1x1
InventorySize_piece_gift1 = 1x1

## Inventory size for 'Yuleklapp'.
## If you append '+' to the end (e.g. '2x1+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 2x1
InventorySize_piece_gift2 = 2x1

## Inventory size for 'Yuleklapp'.
## If you append '+' to the end (e.g. '3x1+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 3x1
InventorySize_piece_gift3 = 3x1

## Inventory size for 'Medium Green Pot'.
## If you append '+' to the end (e.g. '1x2+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 1x2
InventorySize_piece_pot1 = 1x2

## Inventory size for 'Large Green Pot'.
## If you append '+' to the end (e.g. '1x3+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 1x3
InventorySize_piece_pot2 = 1x3

## Inventory size for 'Small Green Pot'.
## If you append '+' to the end (e.g. '1x1+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 1x1
InventorySize_piece_pot3 = 1x1

## Inventory size for 'Longship'.
## If you append '+' to the end (e.g. '6x3+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 6x3
InventorySize_VikingShip = 6x4

## Inventory size for 'Drakkar'.
## If you append '+' to the end (e.g. '8x4+'),
## the inventory size will keep expanding as long as only one type of item is stored inside.
# Setting type: String
# Default value: 8x4
InventorySize_VikingShip_Ashlands = 8x4

