## Settings file was created by plugin ServersideQoL v2.0.7
## Plugin GUID: ArgusMagnus.ServersideQoL

[General]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Enables/disables diagnostic logs
# Setting type: Boolean
# Default value: false
DiagnosticLogs = false

## Max distance a player can have to a modified object to receive messages of type TopLeftFar or CenterFar
# Setting type: Single
# Default value: 64
FarMessageRange = 64

