## Settings file was created by plugin ServersideQoL.MultiplayerTweaks v2.0.0
## Plugin GUID: ArgusMagnus.ServersideQoL.MultiplayerTweaks

[MultiplayerTweaks]

## Enables/disables the entire mod
# Setting type: Boolean
# Default value: true
Enabled = true

## True to force player map pins to be visible for all players
# Setting type: Boolean
# Default value: false
ForcePlayerMapPin = false

## True to assign ownership of some interactable objects (such as smelters or cooking stations) to the closest player.
## This should help avoiding the loss of ore, etc. due to networking issues.
# Setting type: Boolean
# Default value: false
AssignInteractablesToClosestPlayer = true

## True to assign ownership of hostile mobs to the closest player.
## This should help reduce issues with dodging/parrying due to networking issues.
# Setting type: Boolean
# Default value: false
AssignMobsToClosestPlayer = true

## True to assign ownership of ships to the player controlling the ship.
## This should help reduce issues with ship control due to networking issues.
# Setting type: Boolean
# Default value: false
AssignShipsToCaptain = true

