## Settings file was created by plugin SleepSkip v1.3.0
## Plugin GUID: Azumatt.SleepSkip

[1 - General]

## If on, the configuration is locked and can be changed by server admins only.
# Setting type: Toggle
# Default value: On
# Acceptable values: On, Off
Lock Configuration = On

## Threshold of players that need to agree to sleep.
## Values are in percentage 1% - 100%.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 1 to 100
Percent of players = 51

## Amount of players needed in bed to start the sleep vote.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 100
Players Needed = 2

## Time in seconds before the sleep popup is displayed on the client.
## Accepted values are from 1 - 60.
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 1 to 60
Warning Time = 15

## Time in seconds before non-responding players are counted as abstaining.
## Set to 0 to disable (votes wait indefinitely).
# Setting type: Int32
# Default value: 45
# Acceptable value range: From 0 to 120
Vote Timeout = 45

## Cooldown in seconds between sleep vote attempts.
## Set to 0 to disable.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 600
Sleep Cooldown = 0

[2 - Client Choices]

## Auto choice for the popup on the client. Change only if you don't want to be asked and want to either always accept or always deny.
# Setting type: AutoChoice
# Default value: Ask
# Acceptable values: Ask, AlwaysAccept, AlwaysDeny
Popup Auto Choice = Ask
