## Settings file was created by plugin DigDeeper v1.1.7
## Plugin GUID: dev.crystal.digdeeper

[Digging]

## The maximum depth you can dig below the terrain surface. Range 0-128. Game default is 8.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 128
MaximumDepth = 40

## The maximum height you can raise the terrain. Range 0-128. Game default is 8.
# Setting type: Int32
# Default value: 8
# Acceptable value range: From 0 to 128
MaximumHeight = 16
