## Settings file was created by plugin QuickConnect v1.6.1
## Plugin GUID: net.bdew.valheim.QuickConnect

[UI]

# Setting type: Single
# Default value: 20
WindowPosX = 50

# Setting type: Single
# Default value: 20
WindowPosY = 50

# Setting type: Int32
# Default value: 0
ButtonFontSize = 16

# Setting type: Int32
# Default value: 0
LabelFontSize = 16

# Setting type: Int32
# Default value: 250
WindowWidth = 384

# Setting type: Int32
# Default value: 50
WindowHeight = 72

## Show custom connection failure message in addition to vanilla connection failure message.
# Setting type: Boolean
# Default value: false
CustomConnectionError = false

## Override server config delimiter. Defaults to a colon (':').
# Setting type: String
# Default value: 
CustomDelimiter = 

