## Settings file was created by plugin ComfyAutoRepair v1.0.0
## Plugin GUID: redseiko.valheim.comfyautorepair

[_Global]

## Globally enable or disable this mod.
# Setting type: Boolean
# Default value: true
isModEnabled = true

[Message]

## If set, shows the vanilla repair message for each item repaired.
# Setting type: Boolean
# Default value: false
showVanillaRepairMessage = false

