[General]

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Valheim = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Conditional Config Sync = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Valheim Configuration Manager = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
PlantEasily = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
PlantEverything = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuAntiArthriticCrafting = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuAreaRepair = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LocalizationCache = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Jotunn = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
YamlDotNet Detector = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Adventure Backpacks = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuExtendedPlayerInventory = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuAutoStore = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuContainerSizes = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuCraftyBoxes = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
MissingPieces = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuHoverStats = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AzuMiscPatches = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Recycle_N_Reclaim = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
SleepSkip = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
TrueInstantLootDrop = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
WieldEquipmentWhileSwimming = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ComfyGizmo = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
StumpsAreOneHp = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
TeleportEverything = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
MultiUserChest = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
TimeoutLimit = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
VNEI = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
LogoutTweaks = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Newtonsoft.Json Detector = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Quick Stack - Store - Sort - Trash - Restock = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
HUDCompass = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
QuickConnect = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Speedy Paths Mod = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Groups = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Server Characters = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Smart Skills = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
TargetPortal = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ComfyAutoRepair = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Headshots = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ExtraSnapPointsMadeEasy = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
NetworkTweaks = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
ProjectileTweaks = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AdvancedTerrainModifiers = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Server Devcommands = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
My Little UI = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Seasons = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
AutomaticFuel = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
No Rain Damage = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Upgrade World = Fatal, Error, Warning

# Setting type: LogLevel
# Default value: Fatal, Error, Warning
# Acceptable values: None, Fatal, Error, Warning, Message, Info, Debug, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
MassFarming = Fatal, Error, Warning

Structure Tweaks = Fatal, Error, Warning

