## Settings file was created by plugin Craft From Chests v0.4.0
## Plugin GUID: toxo.craftfromchests

[General]

## Hur långt (i meter) modden letar efter närliggande kistor att crafta eller mata smältverk/kolmilor från.
# Setting type: Single
# Default value: 40
# Acceptable value range: From 1 to 100
SearchRadius = 30

